/* Global html stylesheet */
@font-face {
    font-family: source-han-sans-sc;
    src: url("../font/SourceHanSansProRegular.ttf"),
    url("../font/SourceHanSansNormal.ttf"),
    url("../font/SourceHanSansMedium.ttf"),
    url("../font/SourceHanSansLightBold.ttf"),
    url("../font/SourceHanSansLight.ttf");
}

html {
    font-family: source-han-sans-sc, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@media only screen and (min-width: 993px) {
    header, main, footer {
        padding-left: 300px;
    }

    #main-content {
        width: 90%;
    }

    #fixed-add-btn {
        position: fixed;
        right: 23px;
        bottom: 61px;
        padding-top: 15px;
        margin-bottom: 0;
        z-index: 997
    }
}

/* region navbar full screen background */
nav {
    background-color: #37474f;
}

nav.nav-full-header {
    height: 100%
}

nav .nav-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
}

nav .nav-background img, nav .nav-background .pattern {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    transition: opacity .7s
}

nav .nav-background img.active, nav .nav-background .pattern.active {
    opacity: 1
}

nav .nav-background .pattern {
    top: 0;
    bottom: 0;
    transform: none;
    background-repeat: repeat
}

nav .nav-background .full-width {
    min-width: 100%
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
    padding-bottom: 100px;
}

ul.side-nav.fixed li.logo:hover, ul.side-nav.fixed li.logo #logo-container:hover {
    background-color: transparent
}

ul.side-nav.fixed li.logo img {
    width: 236px;
}

/* endregion */

#login-background {
    background-image: url("../../application/image/stars.jpg");
}

.main-end-stage-frame {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

#active-page {
    background-color: #5ebae5;
}

#mobile-table-item-buttons a {
    margin-top: 2px;
    margin-right: 2px;
}

.nav-logo-img {
    margin: 8px;
    height: 48px;
}

.page-title {
    line-height: 72px;
}
