<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head::head('广告机 - 广告机管理后台')"></head>
<!--/* <editor-fold desc="define"> */-->
<!--/*@thymesVar id="loginUser" type="com.xmlan.machine.module.user.entity.User"*/-->
<!--/*@thymesVar id="adminPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="page" type="com.github.pagehelper.PageInfo<com.xmlan.machine.module.advertisementMachine.entity.AdvertisementMachine>"*/-->
<!--/*@thymesVar id="adCount" type="java.util.List<com.xmlan.machine.module.advertisement.entity.AdvertisementCount>"*/-->
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<!--/*@thymesVar id="codeNumber" type="java.lang.String"*/-->
<!--/*@thymesVar id="addTime" type="java.lang.String"*/-->
<!--/*@thymesVar id="deleteToken" type="java.lang.String"*/-->
<!--/*@thymesVar id="open" type="java.lang.String"*/-->
<!--/* </editor-fold> */-->
<body>
<th:block th:include="/common/header::header('machine')"/>
<main style="z-index: 0;height: 80%">
  <div class="page-title z-depth-1 blue-grey darken-2">
    <div class="white-text">
      <span class="flow-text">
        <a class="btn-flat"><i class="material-icons white-text">list</i></a>广告机列表
      </span>
    </div>
  </div>
  <br/>
  <div id="main-content" class="container">
    <div id="search-box">
      <form th:action="@{${adminPath}+'/advertisementMachine/list/1'}" method="post">
        <input name="open" type="hidden" th:value="${open}">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">search</i>条件搜索</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12 m10 l10 center">
                  <div class="input-field col s12 m4 l4">
                    <input type="text" id="name" name="name" th:value="${name}"/>
                    <label for="name">按广告机名称</label>
                  </div>
                  <div class="input-field col s12 m4 l4">
                    <input type="text" id="codeNumber" name="codeNumber" th:value="${codeNumber}"/>
                    <label for="codeNumber">按广告机识别码</label>
                  </div>
                  <div class="input-field col s12 m4 l4">
                    <input type="text" id="addTime" name="addTime" class="date-picker"
                           placeholder="选择日期" th:value="${addTime==' '?'':addTime}"/>
                    <label for="addTime">按加入时间</label>
                  </div>
                </div>
                <div class="col s12 m2 l2 center">
                  <div class="input-field col s12 m12 l12">
                    <button type="submit"
                            class="btn-floating btn-large waves-effect waves-light green">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
    <table class="highlight responsive-table">
      <thead>
      <tr>
        <th>
          <input type="button" style="display:block" id="selectAll" value="全选">
          <input type="button" style="display:none" id="closeAll" value="取消">
        </th>
        <th>名称</th>
        <th>地址</th>
        <th>加入时间</th>
        <th>机器识别码</th>
        <th>广告数</th>
        <th>灯</th>
        <th>充电状态</th>
        <th>
          <select id="control_light" class="amber-text" style="display: block">
            <option value="1">正常开灯</option>
            <option value="0">关灯</option>
            <option value="2">20%亮度</option>
            <option value="5">50%亮度</option>
            <option value="8">80%亮度</option>
            <option value="10">100%亮度</option>
          </select>
          <input class="amber-text blue" type="button" style="display:block;float: right" th:if="${loginUser.id!=10}"  id="openLight" value="控灯">
        </th>
      </tr>
      </thead>
      <tbody class="card">
        <tr th:each="item:${page.list}" th:onclick="'javascript:detail(\''+*{item.id}+'\')'">
         <td><input type="checkbox" name="checkbox" th:value="*{item.id}"></td>
        <td th:text="*{item.name}">name</td>
        <td th:text="*{#strings.abbreviate(item.address,30)}">address</td>
        <td th:text="*{#strings.substring(item.addTime,0,10)}">addTime</td>
        <td th:text="*{#strings.abbreviate(item.codeNumber,15)}">codeNumber</td>
        <th:block th:each="count:${adCount}">
          <td th:if="${item.id==count.id}" th:text="${count.count}"></td>
        </th:block>
        <th:block>
          <td th:if="${item.light==1}" th:text="开"></td>
          <td th:if="${item.light==2}" th:text="'20%亮度'"></td>
          <td th:if="${item.light==5}" th:text="'50%亮度'"></td>
          <td th:if="${item.light==8}" th:text="'80%亮度'"></td>
          <td th:if="${item.light==10}" th:text="'100%亮度'"></td>
          <td th:if="${item.light==0}" th:text="关"></td>
        </th:block>
        <th:block>
          <td th:if="${item.charge==1}" th:text="充电"></td>
          <td th:if="${item.charge==0}" th:text="闲置"></td>
        </th:block>
        <td class="right-align hide-on-med-and-down">
          <div class="fixed-action-btn horizontal" style="position: relative; right: 0; top: 0;">
            <a class="btn-floating btn-large blue"><i class="material-icons">menu</i></a>
            <ul>

              <li>
                <a class="btn-floating blue waves-effect waves-light tooltipped btn modal-trigger"
                   data-position="top" data-delay="50" data-tooltip="大气采集" href="#weather-modal"
                   th:onmouseover="'javascript:weather(\''+*{item.id}+'\')'">
                  <i class="material-icons">brightness_1</i>
                </a>
              </li>

              <li>
                <a class="btn-floating blue waves-effect waves-light tooltipped btn modal-trigger"
                   data-position="top" data-delay="50" data-tooltip="查看详情" href="#detail-modal"
                   th:onmouseover="'javascript:detail(\''+*{item.id}+'\')'">
                  <i class="material-icons">more_horiz</i>
                </a>
              </li>
              <li th:if="${loginUser.id!=10}">
                <a  class="btn-floating green waves-effect waves-light tooltipped" data-position="top"
                   data-delay="50" data-tooltip="编辑"
                   th:href="@{${adminPath}+'/advertisementMachine/form?id='+${item.id}}">
                  <i class="material-icons">edit</i>
                </a>
              </li>
              <li th:if="${loginUser.id!=10}">
                <a  class="btn-floating red darken-1 waves-effect waves-light tooltipped btn modal-trigger"
                   data-position="top" data-delay="50" data-tooltip="删除" href="#delete-modal"
                   th:onclick="'javascript:prepareForDeleting(\''+${item.id}+'\')'">
                  <i class="material-icons">delete</i>
                </a>
              </li>
            </ul>
          </div>
        </td>
        <td class="hide-on-large-only" id="mobile-table-item-buttons">
          <div class="fixed-action-btn click-to-toggle center-align"
               style="position: relative; left: 0; top: 0;">
            <a class="btn-floating blue"><i class="material-icons">menu</i></a>
            <ul>
              <li>
                <a class="btn-floating blue waves-effect waves-light tooltipped btn modal-trigger"
                   data-position="top" data-delay="50" data-tooltip="查看详情" href="#detail-modal"
                   th:onclick="'javascript:detail(\''+*{item.id}+'\')'">
                  <i class="material-icons">more_horiz</i>
                </a>
              </li>
              <li th:if="${loginUser.id!=10}">
                <a th:if="${loginUser.id!=10}" class="btn-floating green waves-effect waves-light tooltipped" data-position="top"
                   data-delay="50" data-tooltip="编辑"
                   th:href="@{${adminPath}+'/advertisementMachine/form?id='+${item.id}}">
                  <i class="material-icons">edit</i>
                </a>
              </li>
              <li th:if="${loginUser.id!=10}">
                <a class="btn-floating red darken-1 waves-effect waves-light tooltipped btn modal-trigger"
                   data-position="top" data-delay="50" data-tooltip="删除" href="#delete-modal"
                   th:onclick="'javascript:prepareForDeleting(\''+${item.id}+'\')'">
                  <i class="material-icons">delete</i>
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div id="fixed-add-btn" class="fixed-action-btn" th:if="${loginUser.roleID==adminRoleID}">
      <a class="btn-floating btn-large waves-effect waves-light blue"
         th:href="@{${adminPath}+'/advertisementMachine/form'}">
        <i class="large material-icons">add</i>
      </a>
    </div>

    <div id="pagination-div" class="center">
      <ul class="pagination">
        <li  class="waves-effect">
          <h6 >共<b th:text="${page.total}"></b>条结果</h6>
          <a href="#"><i class="material-icons">chevron_left</i></a>
        </li>
        <li th:if="${!page.hasPreviousPage}" class="disabled">
          <a href="#"><i class="material-icons">chevron_left</i></a>
        </li>
        <li th:if="${page.hasPreviousPage}" class="waves-effect">
          <a th:href="@{${adminPath}+'/advertisementMachine/list/'+${page.prePage}}"><i
              class="material-icons">chevron_left</i></a>
        </li>
        <th:block th:each="number:${page.navigatepageNums}">
          <li th:if="${number==page.pageNum}" class="waves-effect" id="active-page">
            <a href="#" th:text="${number}"></a>
          </li>
          <li th:if="${number!=page.pageNum}" class="waves-effect">
            <a th:href="@{${adminPath}+'/advertisementMachine/list/'+${number}}"
               th:text="${number}"></a>
          </li>
        </th:block>
        <li th:if="${!page.hasNextPage}" class="disabled">
          <a href="#"><i class="material-icons">chevron_right</i></a>
        </li>
        <li th:if="${page.hasNextPage}" class="waves-effect">
          <a th:href="@{${adminPath}+'/advertisementMachine/list/'+${page.nextPage}}"><i
              class="material-icons">chevron_right</i></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="weather-modal" class="modal modal-fixed-footer" style="height: 200px">
    <h4  class="text" style=" text-align:center;">大气数据采集</h4>
    <table border="5">
      <tr>
        <th>广告机ID</th>
        <th>温度</th>
        <th>湿度</th>
        <th>pm2.5</th>
        <th>亮度</th>
      </tr>
      <tr>
        <th><h6 id="weather-machineID">id</h6></th>
        <td><h6 id="weather-temperature">temperature</h6></td>
        <td><h6 id="weather-humidity">humidity</h6></td>
        <td><h6 id="weather-pm25">pm25</h6></td>
        <td><h6 id="weather-brightness">brightness</h6></td>
      </tr>
    </table>
  </div>
  <div id="detail-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>详情</h4>
      <h6 class="green-text text-darken-2">广告机ID</h6>
      <p id="detail-item-id">id</p>
      <h6 class="green-text text-darken-2">名称</h6>
      <p id="detail-item-name">name</p>
      <h6 class="green-text text-darken-2">加入时间</h6>
      <p id="detail-item-add-time">addTime</p>
      <h6 class="green-text text-darken-2">所属用户</h6>
      <p id="detail-item-user-id">userID -> username</p>
      <h6 class="green-text text-darken-2">机器识别码</h6>
      <p id="detail-item-code-number">codeNumber</p>
      <h6 class="green-text text-darken-2">坐标经度</h6>
      <p id="detail-item-longitude">longitude</p>
      <h6 class="green-text text-darken-2">坐标维度</h6>
      <p id="detail-item-latitude">latitude</p>
      <h6 class="green-text text-darken-2">广告数</h6>
      <p id="detail-item-ads">ads count</p>
      <h6 class="green-text text-darken-2">状态 (灯/充电)</h6>
      <p id="detail-item-status">status</p>
      <h6 class="green-text text-darken-2">地址</h6>
      <p id="detail-item-address">address</p>
      <h6 class="green-text text-darken-2">备注</h6>
      <p id="detail-item-remark">remark</p>
      <h6 class="green-text text-darken-2">摄像头ip</h6>
      <p id="detail-item-cameraIP">cameraIP</p>
      <h6 class="green-text text-darken-2">摄像头序列号</h6>
      <p id="detail-item-cameraSequence">cameraSequence</p>
      <h6 class="green-text text-darken-2">摄像头设备验证码</h6>
      <p id="detail-item-cameraVerificationCode">cameraVerificationCode</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
    </div>
  </div>

  <div id="delete-modal" class="modal">
    <form th:action="@{${adminPath}+'/advertisementMachine/delete'}">
      <div class="modal-content">
        <h4>注意！</h4>
        <input name="deleteToken" type="hidden" th:value="${deleteToken}">
        <input id="delete-confirm-id" name="id" type="hidden"/>
        <p>是否要删除广告机 <span id="delete-name"></span> ?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">不是</a>
        <button type="submit" class="modal-action modal-close waves-effect btn-flat">是</button>
      </div>
    </form>
  </div>
</main>
<th:block th:include="/common/footer::footer"/>
<th:block th:include="/common/script::script"/>
<script type="text/javascript">
    jQuery(function($){
        $("#selectAll").click(function(){
            $("input[name='checkbox']").prop("checked","true");
            document.getElementById("closeAll").style.display="block";
            document.getElementById("selectAll").style.display="none";
        })
        $("#closeAll").click(function(){
            $("input[name='checkbox']").prop("checked",false);
            document.getElementById("selectAll").style.display="block";
            document.getElementById("closeAll").style.display="none";
        })
        $("#openLight").click(function(){
            var adIds = [];
            var operate = $("#control_light").val();
            $("input:checkbox[name=checkbox]:checked").each(function(i){
                    // adIds = $(this).val();
                    adIds.push($(this).val())
                    // adIds += (","+$(this).val());
            });
            var url = '[[${adminPath}]]/advertisementMachine/lightBatch';
            var update='[[${adminPath}]]/advertisementMachine/list/1';
            $.ajax({
                url:url,
                data:{"adIds":adIds,"operate":operate},
                traditional :true,
                dataType:"json",
                type:"post",
                success:function (data) {
                  console.log("开灯成功！")
                },error:function () {
                    console.log("开灯失败！")
                }
            });
        })
    })
  $(function () {
    resize_footer(window.screen.width);
    $('#button-nav-menu').sideNav({
      closeOnClick: true,
      draggable: true
    });
    $('.dropdown-button').dropdown();
    $('.date-picker').pickadatee({
      closeOnSelect: true
    });
    $("#detail-modal").modal();
    $("#delete-modal").modal();
    $("#weather-modal").modal();
    toast('[[${message}]]');

    //除了表头（第一行）以外所有的行添加click事件.
    $("tr").slice(1).click(function () {
      // 切换样式
      $(this).toggleClass("tr_active");
      // 找到checkbox对象
      var chks = $("input[type='checkbox']",this);
      var tag = $(this).attr("tag");
      if(tag=="selected"){
          // 之前已选中，设置为未选中
          $(this).attr("tag","");
          chks.prop("checked",false);
      }else{
          // 之前未选中，设置为选中
          $(this).attr("tag","selected");
          chks.prop("checked",true);
      }
    });

  });

  function weather(id) {
      var url = '[[${adminPath}]]/advertisementMachine/weather/' + id;
      $.ajax({
          url:url,
          type:"GET",
          success:function (data) {
              $("#weather-machineID").text(data['weather'].machineID);
              $("#weather-temperature").text(data['weather'].temperature);
              $("#weather-brightness").text(data['weather'].brightness);
              $("#weather-pm25").text(data['weather'].pm25);
              $("#weather-humidity").text(data['weather'].humidity);
          },error:function () {
          }
      });
  }
  function detail(id) {
    var url = '[[${adminPath}]]/advertisementMachine/detail/' + id;
    $.ajax({
      url: url,
      type: "GET",
      success: function (data) {
        $("#detail-item-id").text(data['machine'].id);
        $("#detail-item-name").text(data['machine'].name);
        $("#detail-item-add-time").text(data['machine'].addTime);
        $("#detail-item-user-id").text(data['owner']);
        $("#detail-item-code-number").text(data['machine'].codeNumber);
        $("#detail-item-longitude").text(data['machine'].longitude);
        $("#detail-item-latitude").text(data['machine'].latitude);
        $("#detail-item-ads").text(data['ads']);
        $("#detail-item-status").text(data['status']);
        $("#detail-item-address").text(data['machine'].address);
        $("#detail-item-remark").text(data['machine'].remark);
        $("#detail-item-cameraIP").text(data['machine'].cameraIP);
        $("#detail-item-cameraSequence").text(data['machine'].cameraSequence);
        $("#detail-item-cameraVerificationCode").text(data['machine'].cameraVerificationCode);
      },
      error: function () {
      }
    });
  }

  function prepareForDeleting(id) {
    $("#delete-confirm-id").val(id);
    $.ajax({
      url: '[[${adminPath}]]/advertisementMachine/detail/' + id,
      type: "GET",
      success: function (data) {
        $("#delete-name").text(data['ad'].name);
      }
    })
  }
</script>
</body>
</html>
