<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head::head('首页 - 智慧灯杆管理后台')"></head>
<!--/* <editor-fold desc="define"> */-->
<!--/*@thymesVar id="adminPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="adminRoleID" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="loginUser" type="com.xmlan.machine.module.user.entity.User"*/-->
<!--/* </editor-fold> */-->

<body>
<th:block th:include="/common/header::header('index')"/>

<main style="z-index: 0;">
  <div id="main-content" class="container center">
    <h1 class="flow-text" th:text="|${loginUser.username}您好, 欢迎使用智慧灯杆管理后台|"></h1>
  </div>
  <div class="background container center hide-on-med-and-down">
    <img src="../../../static/application/image/desk-bg.jpg" width="90%" />
  </div>
  <!--<div class="background container center hide-on-large-only">-->
    <!--<img src="../../../static/application/image/tab-mob-bg.jpg" width="90%"/>-->
  <!--</div>-->
</main>

<th:block th:include="/common/footer::footer"/>
<th:block th:include="/common/script::script"/>
<script type="text/javascript">
  $(document.body).css({
    "overflow-x": "hidden",
    "overflow-y": "hidden"
  });
  $(function () {
    toast('[[${message}]]');
  });
</script>
</body>
</html>
