<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/head::head('广告机 - 广告机管理后台')"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/common/header::header('monitor')"/>
<main style="z-index: 0;">
    <div class="page-title z-depth-1 blue-grey darken-2">
        <div class="white-text">
      <span class="flow-text">
        <a class="btn-flat"><i class="material-icons white-text">list</i></a>摄像头列表
      </span>
        </div>
    </div>
<div id="main-content" class="container" style="height: 800px">
    <table class="highlight responsive-table" id="monitorData">
        <thead>
            <tr>
                <th>名称</th>
                <th>地址</th>
                <th>监控状态</th>
                <th>查看监控</th>
            </tr>
        </thead>
    </table>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
</div>
</main>
<th:block th:include="/common/footer::footer"/>
<th:block th:include="/common/script::script"/>
</body>
</html>
<script type="text/javascript">
    var machineStr;
    $(function () {
        index();
    })
    function index() {

        $.ajax({
            url:"[[${adminPath}]]/monitor/index",
            type:"GET",
            data:{"pageNo":1},
            success:function (machine) {
                machineStr =eval('(' + machine + ')');
                $.each(machineStr,function (idx, obj) {
                    var user = {id:1, name:'zs'};
                    var idxx;
                    var code;
                    var access_token;
                    idxx =machineStr[idx].cameraSequence;
                    code =machineStr[idx].cameraVerificationCode;
                    access_token =machineStr[idx].accessToken;
                    var codes = {idxx:idxx, code:code};
                    var tr =
                        "<tr>"+
                            "<td>"+machineStr[idx].name+"</td>"+
                            "<td>"+machineStr[idx].address+"</td>"+
                            "<td>"+"开"+"</td>"+
                            // "<td>"+"<a href='/mng/monitor/demo'>"+"查看"+"</a>"+"</td>"+
                            "<td>"+"<a href=\"javascript:;\" onclick=\"callCamera('"+idxx+"','"+code+"','"+access_token+"')\">"+"查看"+"</a>"+"</td>"+
                        "</tr>";
                    $("table").append(tr);
                });
            },error:function () {
            }
        });
    }
    function callCamera(idxx,code,access_token) {
        window.location.href ="uikitDemo?cameraSequence="+idxx+'&cameraVerificationCode='+code+"&access_token="+access_token;
    }
    function demo() {
        $.get("[[${adminPath}]]/monitor/demo",function () {
        });
    }
</script>