<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/head::head('广告机 - 广告机管理后台')"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
         html {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XzxEh6hT4dGzncjHCQEv9KLFEDOtaOQW"></script>
    <title>批量转换</title>
</head>
<!--/*@thymesVar id="adminPath" type="java.lang.String"*/-->
<body>
<th:block th:include="/common/header::header('baiduMap')"/>
<div id="dg" style="z-index: 9999; position: fixed ! important; right: 50px; top: 100px;">
    <ul>
        <li>
            <a class="btn-floating green waves-effect waves-light tooltipped" data-position="top"
               data-delay="50" data-tooltip="查看所有灯杆显示"
               th:onclick="'javascript:index()'">
                <i class="material-icons">location_on</i>
            </a>
        </li>
    </ul>
</div>
<div style="width:1400px;height:500px;border:1px solid gray;margin-left: 300px" id="allmap"></div>
<th:block th:include="/common/footer::footer"/>
<th:block th:include="/common/script::script"/>
</body>
</html>
<script type="text/javascript">
    var convertor = new BMap.Convertor();
    var points;
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(113.573229,22.377734), 15);
    function index() {
        $.ajax({
            url:'[[${adminPath}]]/baiduMap/index',
            type:"GET",
            success:function (data) {
                for (var index in data){
                    points = [new BMap.Point(data[index].longitude,data[index].latitude)];
                    translateCallback = function (data){
                        if(data.status === 0) {
                            map.addOverlay(new BMap.Marker(points[index]));
                            map.setCenter(data.points[index]);
                        }
                    }
                    setTimeout(function(){
                        convertor.translate(points, 1, 5, translateCallback)
                    }, 1000);
                }
            },error:function () {
                alert("操作失败")
            }
        });
    }

    var point = new BMap.Point(113.183251,22.684053);
    map.centerAndZoom(point,12);

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){console.log(r.point)
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);//标出所在地
            map.panTo(r.point);//地图中心移动
            var point = new BMap.Point(r.point.lng,r.point.lat);//用所定位的经纬度查找所在地省市街道等信息
            var gc = new BMap.Geocoder();
            gc.getLocation(point, function(rs){
                var addComp = rs.addressComponents;
                alert(rs.address);//地址信息
            });
        }else {
            alert('failed'+this.getStatus());
        }
    },{enableHighAccuracy: true})
</script>