<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head::head('数据不完整')"></head>
<body>
<nav class="nav-extended nav-full-header z-depth-0">
  <div class="nav-background" style="background-color: #37474f;opacity: 1;">
    <div class="pattern active" id="error-400"></div>
  </div>
  <div class="nav-content">
    <h1>&nbsp;</h1>
  </div>
</nav>
<div class="row">
  <div class="col s12 m4 l4 offset-m4 offset-l4">
    <div class="card  hoverable">
      <div class="card-image" style="background-color: #29353d;">
        <img src="../../../static/application/image/400.png" class="center-block" style="width: 300px; height: 300px;">
        <span class="card-title">操作请求异常</span>
      </div>
      <div class="card-content">
        <p>出现了操作请求的错误，可能是缺少某些关键数据，也可能是系统繁忙中。</p>
        <p>您的本次提交没有生效，请重新确认提交内容并再次尝试提交。</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" onclick="history.go(-1)">
          <i class="material-icons left">arrow_back</i>
          返回</a>
      </div>
    </div>
  </div>
</div>

<th:block th:include="/common/script::script"/>
<script type="text/javascript">
  $(document.body).css({
    "overflow-x": "hidden",
    "overflow-y": "hidden"
  })
</script>
</body>
</html>
