<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head::head('系统繁忙')"></head>
<!--/*@thymesVar id="exception" type="java.lang.String"*/-->
<body>
<nav class="nav-extended nav-full-header z-depth-0">
  <div class="nav-background" style="background-color: #37474f;opacity: 1;">
    <div class="pattern active" id="error-400"></div>
  </div>
  <div class="nav-content">
    <h1>&nbsp;</h1>
  </div>
</nav>
<div class="row">
  <div class="col s12 m4 l4 offset-m4 offset-l4">
    <div class="card  hoverable">
      <div class="card-image" style="background-color: #29353d;">
        <img src="../../../static/application/image/500.png" class="center-block" style="width: 300px; height: 300px;">
        <span class="card-title">系统繁忙</span>
      </div>
      <div class="card-content">
        <p>系统内部正在进行一些准备，您可以返回上一页，再尝试进行操作。</p>
        <p style="font-size: 10px" th:text="'消息：'+${exception}"></p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" onclick="history.go(-1)">
          <i class="material-icons left">arrow_back</i>
          返回</a>
      </div>
    </div>
  </div>
</div>

<th:block th:include="/common/script::script"/>
<script type="text/javascript">
  $(document.body).css({
    "overflow-x": "hidden",
    "overflow-y": "hidden"
  })
</script>
</body>
</html>
