<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="../../../static/application/css/global.css"/>
  <link rel="stylesheet" href="../../../static/materialize/css/materialize.min.css"/>
  <link rel="shoutcut icon" type="image/x-icon" href="favicon.ico" media="all"/>
  <title th:text="${title}"></title>
</head>
</html>
