<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="script">
  <script type="text/javascript" src="../../../static/application/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../../static/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../../../static/application/js/date-picker.js"></script>
  <script type="text/javascript" src="../../../static/application/js/global.js"></script>
  <script type="text/javascript" src="../../../static/layer/layer.js"></script>
  <script type="text/javascript" src="../../../static/layer/mobile/layer.js"></script>
</div>
</body>
</html>
