<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <!-- 日志存储位置 -->
    <Property name="log_path">logs/ad/machine</Property>
  </Properties>
  <Appenders>
    <!-- 指定控制台日志输出方式 -->
    <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
      <!-- 指定输出格式，允许彩色代码 -->
      <PatternLayout
          pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %M %-5level %logger{36} - %msg%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>
    </Console>
    <!-- 指定每日日志存储格式和压缩格式 -->
    <RollingFile name="DailyRollingFile" fileName="${log_path}/webApp.log"
                 filePattern="${log_path}/delivery-%d{yyyy-MM-dd}.log.zip">
      <!-- 指定输出格式，不使用颜色（文本文件，非富文本文件存储） -->
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %M %-5level %logger{36} - %msg%n"/>
      <TimeBasedTriggeringPolicy interval="1"/>
      <SizeBasedTriggeringPolicy size="50MB"/>
      <!-- 日志保存归档文件个数上限 -->
      <DefaultRolloverStrategy max="50"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- 定义控制台输出日志等级和监听的包 -->
    <Logger name="com.xmlan.machine" level="trace" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="debug">
      <AppenderRef ref="DailyRollingFile"/>
    </Root>
  </Loggers>
</Configuration>
