<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- <editor-fold desc="Basic: Context config for this xml"> -->
    <context:component-scan base-package="com.xmlan.machine"/>
    <context:property-placeholder location="classpath:machine.properties"/>
    <!-- </editor-fold> -->

    <!-- <editor-fold desc="Interceptor"> -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xmlan.machine.common.interceptor.URLInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="${adminPath}/**"/>
            <mvc:exclude-mapping path="${adminPath}/login"/>
            <mvc:exclude-mapping path="${adminPath}/auth"/>
            <mvc:exclude-mapping path="${adminPath}/logout"/>
            <mvc:exclude-mapping path="/static/**"/>
            <bean class="com.xmlan.machine.common.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="${adminPath}/role"/>
            <mvc:mapping path="${adminPath}/role/**"/>
            <mvc:mapping path="${adminPath}/user"/>
            <mvc:mapping path="${adminPath}/user/**"/>
            <bean class="com.xmlan.machine.common.interceptor.PermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- </editor-fold> -->

    <!-- <editor-fold desc="Converter"> -->
    <bean id="requestMappingHandlerAdapter"
          class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=utf-8</value>
            </list>
        </property>
    </bean>
    <bean id="mappingJackson2HttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=utf-8</value>
                <value>application/json;charset=utf-8</value>
            </list>
        </property>
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="stringHttpMessageConverter"/>
            <ref bean="mappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- </editor-fold> -->

    <!-- <editor-fold desc="Resource"> -->
    <mvc:resources location="/static/" mapping="/static/**"/>
    <mvc:resources mapping="favicon.ico" location="/favicon.ico"/>
    <!-- </editor-fold> -->

    <!-- <editor-fold desc="Resolver"> -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:maxInMemorySize="1048576"
          p:maxUploadSize="1048576000"
          p:defaultEncoding="UTF-8"/>

    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver"
          p:prefix="/WEB-INF/templates/"
          p:suffix=".html"
          p:templateMode="HTML5"
          p:characterEncoding="UTF-8"
          p:cacheable="false"/>
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine"
          p:templateResolver-ref="templateResolver"/>
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver"
          p:templateEngine-ref="templateEngine"
          p:characterEncoding="UTF-8"/>
    <!-- </editor-fold> -->

    <!-- <editor-fold desc="Task"> -->
    <task:annotation-driven/>
    <!-- </editor-fold> -->

</beans>
